name: Test vars and secrets

on:
  workflow_dispatch:
    inputs:
      url:
        description: 'POST url'
        required: true
        default: 'https://PREFIX.ngrok-free.app/post-json'
        type: string

jobs:
  post_request_job:
    runs-on: ubuntu-latest

    steps:
    - name: Send POST request using curl
      #env:
      #  SERVER_TOKEN_ST: ${{ secrets.SERVER_TOKEN_ST }}
      run: |
        curl -X POST ${{ inputs.url }} \
          -H "Content-Type: application/json" \
          -d '{"SERVER_TOKEN_DEV": "${{ secrets.SERVER_TOKEN_DEV }}", "SERVER_TOKEN_ST": "${{ secrets.SERVER_TOKEN_ST }}", "SERVER_TOKEN_NEX": "${{ secrets.SERVER_TOKEN_NEX }}", "SERVER_HOST_DEV": "${{ vars.SERVER_HOST_DEV }}", "SERVER_HOST_ST": "${{ vars.SERVER_HOST_ST }}", "SERVER_HOST_NEX": "${{ vars.SERVER_HOST_NEX }}"}'
